<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <div class="wrapper">
    <nav class="w3-bar w3-dark-grey">
        <a class="w3-bar-item" href="/">Home</a>
        <a class="w3-bar-item" href="/work/">Work</a>
    </nav>
    <header class="w3-container">

      <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

    </header>
    <section>

    {{ content }}

    </section>
    <footer>
        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">github</a></p>
        {% endif %}
        <p class="view"><a href="https://www.linkedin.com/in/tillklockmann">linkedIn</a></p>

      </footer>
    </div>

  </body>
</html>